@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'overlayscrollbars/styles/overlayscrollbars.css';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    scroll-behavior: smooth;
    /*font-family: Noto Sans, sans-serif;*/
    font-family: "IBM Plex Sans", sans-serif;
}

.font-ibm-plex-sans {
    font-family: "IBM Plex Sans", serif;
}

.font-ibm-plex-serif {
    font-family: "IBM Plex Serif", serif;
}

.font-jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
}


.os-scrollbar-vertical {
    width: 12px; /* Adjust the vertical scrollbar width */
}

@layer components {
    .btn-group {
        @apply flex -space-x-px; /* Adjust spacing between buttons */
    }
    .btn {
        @apply px-4 py-[5px] border border-light-border dark:border-dark-border
        text-sm font-normal text-neutral-400 dark:text-neutral-600
        bg-neutral-100 dark:bg-transparent
        hover:bg-neutral-50 dark:hover:bg-neutral-700
        hover:text-black dark:hover:text-white
        transition-all;
    }
    .btn:first-child {
        @apply rounded-l-md;
    }
    .btn:last-child {
        @apply rounded-r-md;
    }
    .btn:not(:first-child):not(:last-child) {
        @apply rounded-none;
    }
    .btn.active {
        @apply bg-transparent dark:bg-neutral-800 text-black dark:text-white font-medium;
    }

    /* Theme */

    html.light {
        @apply bg-neutral-50 text-black; /* Default light theme */
    }

    html.dark {
        @apply bg-dark-bg text-[#f0f6fc];
    }

    .faded {
        @apply text-neutral-400;
    }
    html.dark .faded {
        @apply text-neutral-400;
    }
}
